* {
    box-sizing: border-box;
}

/* GLOBAL STYLING */

:root {
    --background: #fafafa;
}



body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}