* {
    box-sizing: border-box;
}

:root {
    --main-color: #244B93;
    --secondary: #999999;
    --third-color: #dbdbdb;
    --accent: #E11702;
    --text-color: #292828;
    --background: #fafafa;
}

body, button {
    font-family: 'Poppins', sans-serif;
    }
    body {
        margin: 0;
        background-color: var(--background);
    }

h1, h2, h3, h4 {
    margin-top: 0;
}

h1, h2 {
    font-weight: 700;
    line-height: 1.5;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }

h3, h4 {
    font-weight: 600;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.15rem;
        text-transform: uppercase;
    }

strong {
    font-weight: 400;
}

p, a {
    font-weight: 300;
    line-height: 1.5;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

i {
    margin-right: 1rem;
    font-size: 1.25rem;
}

/*---- SPACING & POSITIONING ----*/

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }
    .flex--top {
        align-items: flex-start;
    }

.section {
    margin-bottom: 90px;
}

.container {
    width: 85%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    }
    .container--sm {
        width: 70%;
        max-width: 960px;
    }
    @media screen and (max-width: 920px) {
        .container {
            width: 90%;
        }
        .container--sm {
            width: 80%;
        }
    }
    @media screen and (min-width: 1025px) and (max-width: 1280px) {
        .container--sm {
            width: 76%;
        }
    }

.separator {
    width: 8.7rem;
    height: .25rem;
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;
    background-color: var(--main-color);
    }
    .separator--resp {
        margin-left: auto;
        margin-right: auto;
    }

@media screen and (max-width: 600px) {
    .hide-on-sm {
        display: none;
        visibility: hidden;
    }
}

/*---- GLOBAL COMPONENTS STYLES ----*/

.header {
    position: sticky;
    top: 0;
    height: 90px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(41, 40, 40, .2);
    z-index: 100;
    }
    .header__navbar {
        padding-top: 1rem;
    }
    .header__logo {
        align-self: center;
        width: 20%;
    }
    .header__menu {
        display: flex;
        justify-content: end;
        width: 70%;
    }
    .header__link {
        color: var(--accent);
        }
        .header__link:hover {
            color: var(--main-color);
            transition: 200ms;
        }
        .header__link:not(:last-child) {
            margin-right: 2rem;
        }
    @media screen and (max-width: 580px) {
        .header {
            height: 134px;
            }
            .header__navbar {
                padding-top: 1.1rem;
            }
            .header__logo {
                display: flex;
                justify-content: center;
                width: 100%;
                }
            .header__menu {
                justify-content: center;
                width: 100%;
                padding-left: 0;
            }
            .header__link:not(:last-child) {
                margin-right: 1.2rem;
            }
    }

.button {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--accent);
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    }
    .button:hover {
        background-color: var(--main-color);
        transition: 300ms;
    }
        .button--alt {
            background-color: white;
            color: var(--main-color);
        }
        .button--alt:hover {
            color: white;
        }

.footer {
    padding-top: 90px;
    padding-bottom: 10px;
    background-color: var(--main-color);
    color: white;
    }
    .footer a {
        color: white;
        }
        .footer a:hover {
            color: var(--third-color);
        }
    .footer__menu {
        margin-bottom: 3rem;
    }
    .footer__nav {
        width: 22%;
        }
        .footer__nav h4 {
            margin-top: 0;
        }
    .footer__logo {
        width: 140px;
    }
    .footer__links {
        padding: 0;
        margin: 0;
        }
        .footer__links p {
            display: inline;
        }
        .footer__links li {
            margin-bottom: 1.1rem;
        }
    .footer__lic {
        text-align: center;
    }
    @media screen and (max-width: 600px) {
        .footer {
            padding-bottom: 1.5rem;
            text-align: center;
        }
            .footer__logo {
                margin-left: auto;
                margin-right: auto;
            }
            .footer__menu {
                margin-bottom: .9rem;
            }
            .footer__nav {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2.2rem;
            }
            .footer__lic {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
    }
    @media screen and (min-width: 601px) and (max-width: 920px) {
        .footer__menu {
            margin-bottom: 1rem;
        }
        .footer__nav {
            width: 45%;
            margin-bottom: 2rem;
        }
        .footer__slogan {
            padding-right: 1.5rem;
        }
    }
    @media screen and (min-width: 1025px) and (max-width: 1280px) {
        .footer__nav {
            width: 24.5%;
        }
        .footer__slogan {
            padding-right: 1.5rem;
        }
    }

/*---- CONTENT SECTIONS STYLES ----*/

.banner {
    position: relative;
    height: 390px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    }
        .banner--main {
            height: 510px;
            background-image: url('/assets/hero-pic.webp');
        }
        .banner--about {
            background-image: url('/assets/about-hero-pic.webp');
        }
        .banner--cta {
            height: 420px;
            background-image: url('/assets/about-quote-cta.webp');
        }
        .banner--contact {
            background-image: url('/assets/contact-hero-pic.webp');
        }
    .banner__title {
        z-index: 20;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(36, 75, 147, .7);
    }
        .overlay--red {
            background-color: rgba(255, 23, 2, .6);
        }

.text-with-img__cta {
    width: 42%;
    }
    .text-with-img__cta h2 {
        color: var(--main-color);
    }
.text-with-img__img {
    width: 52%;
    }
    .text-with-img img {
        border-radius: 5px;
    }
.text-with-img__list {
    padding-left: 0;
    }
    .text-with-img__list li {
        margin-bottom: 1.1rem;
    }
    .text-with-img__list i {
        color: var(--main-color);
    }
    .text-with-img__list p {
        display: inline;
    }
.text-with-img__alt-txt {
    color: var(--secondary);
}
    @media screen and (max-width: 920px) {
        .text-with-img--reverse {
            flex-direction: column-reverse;
        }
        .text-with-img .button {
            margin-left: auto;
            margin-right: auto;
        }
        .text-with-img__cta {
            width: 100%;
            margin-bottom: 3.2rem;
            text-align: center;
        }
        .text-with-img__list {
            margin-bottom: 2rem;
        }
        .text-with-img__img {
            width: 100%;
        }
    }
    @media screen and (min-width: 1025px) and (max-width: 1280px) {
        .text-with-img__cta {
            width: 46%;
        }
        .text-with-img__img {
            width: 48%;
        }
    }

.services {
    background-color: var(--main-color);
    }
    .services__content {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .services__title {
        margin-top: 0;
        margin-bottom: 3.5rem;
        color: white;
        text-align: center;
    }
    .services__card {
        padding: 2rem 1.2rem 1rem;
        width: 23.5%;
        border-radius: 4px;
        background-color: white;
        text-align: center;
    }
    .services__card-img {
        margin-bottom: 1.2rem;
        width: 45%;
    }
    .services__feature {
        width: 22%;
        color: white;
        text-align: center;
    }
    .services__feature-img {
        border-radius: 5px;
    }
    @media screen and (max-width: 600px) {
        .services__content--m {
            padding-bottom: 1.8rem;
        }
        .services__card {
            padding: 1.8rem 1.5rem 1.4rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2.5rem;
            width: 90%;
        }
        .services__feature {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 935px) {
        .services__card-img {
            width: 40%;
        }
        .services__feature {
            margin-bottom: 2.2rem;
        }
    }
    @media screen and (min-width: 601px) and (max-width: 920px) {
        .services__content--m {
            padding-bottom: 2.8rem;
        }
        .services__card {
            height: 300px;
            padding: 1.5rem;
            margin-bottom: 2.5rem;
            width: 47%;
        }
        .services__feature {
            width: 45%;
        }
    }
    @media screen and (min-width: 921px) and (max-width: 935px) {
        .services__feature {
            width: 23%;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        .services__card {
            padding: 1.5rem 1rem 1.1rem;
            height: 315px;
            width: 23%;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1108px) {
        .services__feature p {
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
    @media screen and (min-width: 1109px) and (max-width: 1225px) {
        .services__short-feat {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
    }

.trucks-show {
    margin-bottom: 2.6rem;
    text-align: center;
    }
    .trucks-show__text {
        margin-bottom: 3.8rem;
    }
    .trucks-show__title {
        color: var(--main-color);
    }
    .trucks-show__card {
        padding: 2.8rem 2rem 1.2rem;
        margin-bottom: 3.2rem;
        border: solid 2px var(--text-color);
        border-radius: 8px;
        width: 48%;
    }
    .trucks-show__img {
        margin-bottom: 1.3rem;
    }
    @media screen and (max-width: 600px) {
        .trucks-show {
            margin-bottom: 2.9rem;
            }
            .trucks-show__card {
                padding: 2.5rem 1.8rem 1rem;
                margin-bottom: 2.9rem;
                width: 100%;
            }
            .trucks-show__img {
                margin-bottom: 1.3rem;
            }
    }
    @media screen and (min-width: 1109px) and (max-width: 1225px) {
        
    }


.contact-form {
    background-color: white;
    padding-top: 90px;
    padding-bottom: 90px;
    border-bottom: solid 1px var(--secondary);
    }
    .contact-form__title {
        margin-bottom: 2.85rem;
        text-align: center;
        }
        .contact-form__title h1 {
            color: var(--main-color);
        }
    .contact-form__fields {
        padding: 0;
        border: none;
    }
    .contact-form__input,
    .contact-form__msg,
    .contact-form__btn {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    .contact-form__input,
    .contact-form__msg {
        padding: .5rem 1rem;
        border: solid 1px var(--secondary);
        border-radius: 4px;
        background-color: var(--background);
        font-size: 1rem;
        }
        .contact-form__input {
            width: 49%;
            margin-bottom: 1.2rem;
        }
        .contact-form__msg {
            width: 100%;
            height: 110px;
            margin-bottom: .8rem;
        }
    .contact-form__btn {
        width: 100%;
    }
    @media screen and (max-width: 810px) {
        .contact-form__input {
            width: 100%;
        }
    }
    